.presentacion {
    width: 90%;
    height: 80vh;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
        /* Styles */
        flex-direction: column;
    }
    @media only screen and (max-device-width : 375px) {
        /* Styles */
        flex-direction: column;
    }
    .main-text {
        /*width: 50%;*/
        flex: 1;
        padding: 50px 0px 0px 0px;
        @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
            /* Styles */
            text-align: center;
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                margin-top: 30px;
            }
        }
        .intro-text h1{
            font-size: 44px;
            font-weight: 500;
            background: linear-gradient(to right, #494964, #6f6f89);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                font-size: 35px;
            }
        }
        .intro-text p {
            margin-top: 5px;
            font-size: 22px;
            color: #585772;
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                font-size: 20px;
            }
        }
    }
    .botones {
        padding: 50px 0px 0px 0px;
        @media only screen and (max-device-width : 375px) {
            /* Styles */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .b-letf {
            background: #c36cbb;
            width: 150px;
            height: 45px;
            cursor: pointer;
            font-size: 16px;
            border: none;
            color: white;
            margin: 30px 0px 0px 30px;
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                width: 120px;
                margin-top: 0;
            }
        }
        .b-right {
            border: 2px solid #c36cbb;
            background: transparent;
            color: #c36cbb;
            width: 150px;
            height: 45px;
            cursor: pointer;
            font-size: 16px;
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                width: 120px;
            }
        }
    }
    .cover {
        /*width: 50%;*/
        flex: 1;
        display: flex;
        justify-content: center;
        height: 60vh;
        img {
            height: 100%;
            filter: drop-shadow(0px 5px 3px black);
            animation: drop 1.5s ease;
            @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
                /* Styles */
                height: 80%;
            }
            @media only screen and (max-device-width : 375px) {
                /* Styles */
                height: 70%;
            }
        }
    }
}
.btn {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
    @media only screen and (max-device-width : 768px) {
        /* Styles */
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    @media only screen and (max-device-width : 375px) {
        /* Styles */
        height: 10vh;
        bottom: 0;
            
    }
}
.big {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
    @media only screen and (max-device-width : 375px) {
        /* Styles */
        height: 70%;
        display: none;
    }
}
.medium {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
    @media only screen and (max-device-width : 375px) {
        /* Styles */
        display: none;
    }
}
.small {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
    @media only screen and (max-device-width : 375px) {
        /* Styles */
        display: none;
    }
}